/* Importa la fuente Comic Sans MS */
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

@import './assets/styles/variables.css';

.comic-sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #00B1F7;
  font-size: 5em; 
}

.App {
  text-align: center;
  background-color: rgb(243, 243, 243);
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  width: 100%;
  background-color: #00B1F7;
  color: white;
}
.footer-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 250px;
}