/* Home.css */
@import './variables.css';
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el input y el botón */
}

.form-control.rounded-input {
    border-radius: 50px; /* Bordes circulares */
    padding: 10px 20px; /* Espaciado interno */
}

.btn.rounded-button {
    border-radius: 50px; /* Bordes circulares */
    padding: 10px 20px; /* Espaciado interno */
}

.btn.custom-btn {
    background-color: #00B1F7;
    color:white;
}


.container {
    max-width: 1200px; /* Aumentar el ancho máximo */
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
}


.main-container {
    background-color: #f8f9fa; /* Color de fondo para todo el contenedor */
    padding: 20px 0;
}

.content-container {
    max-width: 1200px; /* Ajustar el ancho máximo del contenido */
    margin: 0 auto;
    background-color: white; /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}