/* MisProductos.css */

.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    font-weight: bold;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.thead-dark th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.custom-table td, .custom-table th {
    text-align: center;
    vertical-align: middle;
}

.custom-text {
    color: #00B1F7;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
