/* MisProductos.css */
.main-container {
    background-color: #f8f9fa; /* Color de fondo para todo el contenedor */
    padding: 20px 0;
}

.content-container {
    max-width: 1200px; /* Ajustar el ancho máximo del contenido */
    margin: 0 auto;
    background-color: white; /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tittuloMisP {
    font-size: 24px;
    font-weight: bold;
}

.custom-table th, .custom-table td {
    vertical-align: middle;
    text-align: center;
}

.img-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.custom-text {
    font-size: 16px;
}

.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tituloMis {
    color: black; 
    border-radius: 10px;
    padding: 20px;
}

h2 {
    color: rgb(16, 16, 16);
    font-weight: bold;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.thead-dark th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.custom-table td, .custom-table th {
    text-align: center;
    vertical-align: middle;
}

.custom-text {
    color: #00B1F7;
}

.btn-primary {
    background-color: #00B1F7;
    border-color: #00B1F7;
}

.btn-primary:hover {
    background-color: #00B1F7;
    border-color: #00B1F7;
}

.btn-outline-primary {
    color: #00B1F7;
    border-color: #00B1F7;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #00B1F7;
    border-color: #00B1F7;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
