.navbar {
    background-color: #ffffff; /* Color de fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño de la fuente para la marca */
    color: #000000; /* Color del texto de la marca */
}

.navbar-brand:hover {
    color: #555555; /* Color del texto de la marca al pasar el cursor */
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5); /* Color del borde del toggler */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-light {
    color: #000000; /* Color del texto del botón */
    border-color: #000000; /* Color del borde del botón */
}

.btn-outline-light:hover {
    color: #ffffff; /* Color del texto del botón al pasar el cursor */
    background-color: #000000; /* Color de fondo del botón al pasar el cursor */
    border-color: #000000; /* Color del borde del botón al pasar el cursor */
}

.container-fluid {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

@media (max-width: 992px) {
    .navbar .container-fluid {
        flex-direction: column;
    }

    .btn-outline-light {
        margin-top: 10px;
    }
}
