/* Navbar.css */

.navbar {
    background-color: #ffffff; /* Color de fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño de la fuente para la marca */
    color: #000000; /* Color del texto de la marca */
}

.navbar-brand:hover {
    color: #555555; /* Color del texto de la marca al pasar el cursor */
}


.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
    border-bottom: 2px solid #007bff;
}

.navbar-nav .nav-link:hover {
    color: #0056b3 !important;
}

/* Agrega aquí más estilos según sea necesario */
